*{  margin:0; padding:0px; box-sizing:border-box; }
a{ text-decoration:none; text-align:center; padding:15px  20px; background-color:white; margin:20px 10px; display:block; font-size:30px;}
h1{ padding:40px;}
div{padding:55px;
     margin:50px; width:500px; background-color:gray; }
h3{padding:20px;}	 
img{width:100%;}